body{
margin: 0;
}

html{
    background-image: url('background.jpg');
    background-attachment: fixed;
    background-size: cover;
}
a{
    text-decoration: none;
    color: black;
}
h1.topbar{
    word-spacing: 10px;
    letter-spacing: -1px;
    background-color: #7C9EB2;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    margin-bottom: 80px;
    text-align: left;
	  margin-top: 0px;
    padding-left: 20px;
}
h1.texttitle{
    text-align: center;
    font-size: 60px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.searchbutton{
    float: right;
    height: 36px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 15px;
    border: black 2px solid;
    border-left: none;
    transition: 0.6s;
}
.searchbar{
    font-size: 15px;
    border: black 2px solid;
    text-align: end;
    padding-right: 10px;
    background-image: url("OIP.jfif");
    background-size: 23px;
    background-repeat: no-repeat;
    background-position:4px 4px;
    float: right;
    height: 30px;
    width: 10%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

img.home{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 7px;
}
div.texthistory{
    font-size: large;
    margin-left: 10%;
    margin-right: 10%;
}
img.oldtech{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 7px;
}
img.oldphone{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 7px;
}
textarea.comment{
    font-size: large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 7px;
}
input.emailpassword{
    font-size: x-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 7px;
}
p.emailpassword{
    font-size: x-large;
    text-align: center;
}
button.emailpassword{
    font-size: xx-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    background-color: #84bad9;
    border: 2px solid black;
}
i{
  margin-right: 10px;
}
a:hover{
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(63, 81, 92);
  transition: 0.5s;

}
.searchbutton:hover{
  background-color: black;
  color: lightgrey;
}